<header class="bgimg">
    <div class="menu">
      <table>
        <tr>
          <td>
            <img class="lugu" src="https://ismir2022.ismir.net/assets/images/ismir2022.png">
          </td>
          <td class="fufor maleu-name">
            {{ page.main2 | replace:'Conference',''}}
          </td>
        </tr>
      </table>
      <table class="menop">
        <tr>
          <td class="menops"><a id="kln" href = "index.html">home</a></td>
          <td class="menops"><a id="kln" href = "comm.html">committee</a></td>
          <td class="menops"><a id="kln" href = "#timdfh">tracks</a></td>
          <td class="menops"><a id="kln" href = "#timdfh">program</a></td>
          <td class="menops"><a id="kln" href = "#timdfh">authors</a></td>
          <td class="menops"><a id="kln" href = "#timdfh">registration</a></td>
        </tr>
      </table>
    </div>
    <div class="headline" id="top">
      <p class="wewed">{{ page.main1 }}<sup>{{ page.arabic }}</sup> {{ page.main2 }}</p>
      <p class="weweda">{{ page.locat }}</p>
    </div>
</header>