<header class="bgimg">
  <div class="topnav" id="myTopnav">
      <a href="../index"><img class="huli" src="https://raw.githubusercontent.com/ismir2022/ismir2022.github.io/main/assets/images/ismir2022.png"></a>
      <div class="dropdown">
        <button class="dropbtn">Calls
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../calls/cfp">Call for Papers</a>
          <a href="../calls/cft">Call for Tutorials</a>
          <a href="../calls/cfs">Call for Sponsorships</a>
        </div>
      </div> 
      <a href="../diversity/mentoring">ISMIR Mentoring Program</a>
      <a href="../team">Team</a>
      <a href="javascript:void(0);" style="font-size:1em;" class="icon" onclick="myHambu()">&#9776;</a>
  </div>
  <div class="headline">
  </div>
</header>