<div class="maincont">
    <h1>New-to-ISMIR mentoring program</h1>

    The New-to-ISMIR paper mentoring program is designed for members new to ISMIR (early stage researchers in MIR or researchers from allied fields who wish to consider submitting their work to an ISMIR conference) to share their advanced-stage work-in-progress ISMIR paper drafts with senior members of the ISMIR community (mentors) to obtain focused reviews and constructive feedback. The program supplements the generic submission guidelines. The program is being run as a pilot in 2022, closely aligned with the ISMIR 2022 paper submissions deadlines.

    <h2>Important features of the Program</h2>
    <ul>
        {{ page.impf }}
    </ul>

    <h2>Eligibility</h2>
    The proposed authors of the papers submitted to the mentoring program must satisfy all the following criteria:
    <br><br>
    <ul>
        {{ page.elig }}
    </ul>
    <h2>Important Dates</h2>
    <ul>    
        <li>{{ page.menu1 }}: {{ page.menua1 }}</li>
        <li>{{ page.menu2 }}: {{ page.menua2 }}</li>
        <li>{{ page.menu3 }}: {{ page.menua3 }}</li>
        <li>{{ page.menu4 }}: {{ page.menua4 }}</li>
        <li>{{ page.menu5 }}: {{ page.menua5 }}</li>
    </ul>
    <h2>Topics</h2>
    The topics of papers to be submitted to the program should be closely aligned with those of ISMIR 2022, including but not limited to the following topics:

    <ul>
        <li>{{ page.topi1 }} : {{ page.topia1 }}</li>
        <li>{{ page.topi2 }} : {{ page.topia2 }}</li>
        <li>{{ page.topi3 }} : {{ page.topia3 }}</li>
        <li>{{ page.topi4 }} : {{ page.topia4 }}</li>
        <li>{{ page.topi5 }} : {{ page.topia5 }}</li>
        <li>{{ page.topi6 }} : {{ page.topia6 }}</li>
        <li>{{ page.topi7 }} : {{ page.topia7 }}</li>
        <li>{{ page.topi8 }} : {{ page.topia8 }}</li>
        <li>{{ page.topi9 }} : {{ page.topia9 }}</li>
    </ul>

    <h2>Submission Guidelines</h2>
    {{ page.guid }}

    <h2>How do I apply?</h2>
    {{ page.appl }}

    <h2>FAQ</h2>
    <ul>
        {{ page.qa }}
    </ul>
    For any further questions, please write to us at <a href = "mailto:ismir2022-diversity@ismir.net">ismir2022-diversity@ismir.net</a>
</div>