<div class="maincont">
    <h1>{{ page.headi }}</h1>

    <a href="https://ismir2022.ismir.net/calls/cfp/ISMIR2022_Info_Sheet.pdf">Download PDF</a>

    <h2>{{ page.headi2 }}</h2>
    <ul>
        <li>{{ page.pap1 }}: {{ page.papa1 }}</li>
        <li>{{ page.pap2 }}: {{ page.papa2 }}</li>
        <li>{{ page.pap3 }}: {{ page.papa3 }}</li>
        <li>{{ page.pap4 }}: {{ page.papa4 }}</li>
        <li>{{ page.pap5 }}: {{ page.papa5 }}</li>
    </ul>
    Note: All deadlines are <b>Anywhere on Earth (AoE) UTC -12</b>. There will be no further extension to the submission deadlines. {{ page.digress }}

    <h2>Overview</h2>
    {{ page.o1 }} <a href="https://ismir2022.ismir.net">https://ismir2022.ismir.net</a>
    <br><br>
    {{ page.o2 }}
    <br><br>
    {{ page.o3 }}
    <br><br>
    {{ page.o4 }}
    <br><br>
    {{ page.o5 }}

    <h2>Special Call for Papers: Cultural and Social Diversity in MIR</h2>
    {{ page.cultu }}

    <h2>Selection Process</h2>
    {{ page.selpro1 }} : {{ page.selproa1 }}<br><br>
    {{ page.selpro2 }} : {{ page.selproa2 }}<br><br>
    {{ page.selpro3 }} : {{ page.selproa3 }}<br>

    <h2>Submission Process</h2>
    Submission site: [TBA]
    <br><br>
    Abstract submission: The paper title, author names, contact details, and abstract must be submitted by the abstract submission deadline. The title and abstract, together with the selected subject area, are the primary sources for assigning papers to reviewers. So make sure that they form a concise and complete summary of your paper with sufficient information to let someone who has not read the full paper know what it is about.
    <br><br>
    Full paper submission: The full paper must be submitted by the full paper submission deadline.
    <br><br>
    Supplementary material: For the anonymous review process, in addition to the PDF file of the manuscript, authors may upload supplementary files for their submission, such as audio samples, demonstration videos, code, etc. These supplementary materials should comply with the requirements for the double-blind review process.
    <br><br>
    Subject area: When submitting the abstracts, authors will be required to choose from the subject areas given. The list of subject areas is the one listed below and it will be available on the submission site.
    <br><br>
    Presenting authors: At least one author of each accepted paper must register to the conference, before the deadline given for author registration [TBD]. Failure to register before the deadline will result in automatic withdrawal of the paper from the conference proceedings and program.
    <br><br>
    Publication: Accepted papers will be published on the conference website and on an open access repository [TBD] using a Creative Commons Attribution 4.0 International License (CC BY 4.0).

    <h2>Submission Requirements</h2>
    Paper format: Papers must be formatted using the ISMIR 2022 templates (LaTeX or Word). Authors are required to submit their papers in PDF format. Submissions that manipulate the template (e.g., by decreasing margins or font sizes) may be rejected without review. All fonts need to be embedded within the PDF.
    <br><br>
    Paper length: Papers must contain at most 6 pages of scientific content (including figures and tables), with additional optional pages that contain only references and acknowledgments. Overlength papers will be rejected without review.
    <br><br>
    Anonymity of authors: Do not put your names under the title. Avoid using phrases such as “our previous work” when referring to earlier publications by the authors. Remove information that may identify the authors in the acknowledgments (e.g., co-workers and grant IDs). Check supplementary material for information that may reveal the authors’ identity. Avoid providing links to websites that identify the authors. Anonymized materials may be uploaded as “Supplementary material”.
    <br><br>
    Preprints: To maintain the legitimacy for our double-blind review process, we strongly discourage authors from posting near duplicate manuscripts on public archives (technical reports, arXiv, etc.). In the same spirit, to protect our double-blind review process, authors need to make sure they do not promote their work in any way during the review process (social media, blog, mailing-list, etc.), since this may prevent preserving anonymity.
    <br><br>
    External Materials: If the paper promises to make the code, dataset, or other materials available after the acceptance, our research community relies on the research ethics of the authors to fulfill their promise.

    <h2>Topics of Interest</h2>
    Relevant topics for ISMIR 2022 include, but are not limited to:
    <br><br>
    MIR fundamentals and methodology: music signal processing; symbolic music processing; metadata, tags, linked data, and semantic web; lyrics and other textual data; web mining, and natural language processing; multimodality.
    <br><br>
    Domain knowledge: representations of music; music acoustics; computational music theory and musicology; cognitive MIR; machine learning/artificial intelligence for music; computational ethnomusicology.
    <br><br>
    Musical features and properties: melody and motives; harmony, chords and tonality; rhythm, beat, tempo; structure, segmentation, and form; representations of music; timbre, instrumentation, and singing voice; musical style and genre; musical affect, emotion and mood; expression and performative aspects of music.
    <br><br>
    MIR tasks: sound source separation; music transcription and annotation; music generation; optical music recognition; alignment, synchronization, and score following; music summarization; music synthesis and transformation; fingerprinting; automatic classification; indexing and querying; pattern matching and detection; similarity metrics.
    <br><br>
    Evaluation, datasets, and reproducibility: evaluation methodology; evaluation metrics; novel datasets and use cases; annotation protocols; reproducibility; MIR tasks.
    <br><br>
    Philosophical and ethical discussions: philosophical and methodological foundations; legal and societal aspects of MIR; ethical issues related to designing and implementing MIR tools and technologies.
    <br><br>
    Human-centered MIR: user behavior analysis and mining, user modeling; human-computer interaction; music interfaces and services; personalization; user-centered evaluation.
    <br><br>
    Applications: digital libraries and archives; music retrieval systems; music recommendation and playlist generation; music and health, well-being and therapy; music training and education; music composition, performance, and production; music videos, multimodal music systems; gaming, augmented/virtual reality; music heritage and sustainability; business and marketing.
    <br><br>
    For additional information, you can reach the program chairs via <a href="mailto:ismir2022-papers@ismir.net">email</a>

    Best regards,

    Scientific Program Chairs (Masataka Goto, Rachel Bittner, Rafael Caro Repetto, Xavier Serra
</div>