<div class="maincont">
    <h1>{{ page.headi }}</h1>

    <a href="https://ismir2022.ismir.net/calls/cfp/ISMIR2022_Info_Sheet.pdf">Download PDF</a>

    <h2>{{ page.headi2 }}</h2>
    <ul>
        <li>{{ page.pap1 }}: {{ page.papa1 }}</li>
        <li>{{ page.pap2 }}: {{ page.papa2 }}</li>
        <li>{{ page.pap3 }}: {{ page.papa3 }}</li>
        <li>{{ page.pap4 }}: {{ page.papa4 }}</li>
        <li>{{ page.pap5 }}: {{ page.papa5 }}</li>
    </ul>
    Note: All deadlines are <b>Anywhere on Earth (AoE) UTC -12</b>. There will be no further extension to the submission deadlines. {{ page.digress }}

    <h2>Overview</h2>
    {{ page.o1 }} <a href="https://ismir2022.ismir.net">https://ismir2022.ismir.net</a>
    <br><br>
    {{ page.o2 }}
    <br><br>
    {{ page.o3 }}
    <br><br>
    {{ page.o4 }}
    <br><br>
    {{ page.o5 }}

    <h2>Special Call for Papers: Cultural and Social Diversity in MIR</h2>
    {{ page.cultu }}

    <h2>Selection Process</h2>
    {{ page.selpro1 }} : {{ page.selproa1 }}<br><br>
    {{ page.selpro2 }} : {{ page.selproa2 }}<br><br>
    {{ page.selpro3 }} : {{ page.selproa3 }}<br>

    <h2>Submission Process</h2>
    {{ page.proc1 }}: {{ page.proca1 }}
    <br><br>
    {{ page.proc2 }}: {{ page.proca2 }}
    <br><br>
    {{ page.proc3 }}: {{ page.proca3 }}
    <br><br>
    {{ page.proc4 }}: {{ page.proca4 }}
    <br><br>
    {{ page.proc5 }}: {{ page.proca5 }}
    <br><br>
    {{ page.proc6 }}: {{ page.proca6 }}
    <br><br>
    {{ page.proc7 }}: {{ page.proca7 }}

    <h2>Submission Requirements</h2>
    {{ page.req1 }} : {{ page.reqa1 }}
    <br><br>
    {{ page.req2 }} : {{ page.reqa2 }}
    <br><br>
    {{ page.req3 }} : {{ page.reqa3 }}
    <br><br>
    {{ page.req4 }} : {{ page.reqa4 }}
    <br><br>
    {{ page.req5 }} : {{ page.reqa5 }}

    <h2>Topics of Interest</h2>
    Relevant topics for ISMIR 2022 include, but are not limited to:
    <br><br>
    {{ page.int1 }} : {{ page.inta1 }}
    <br><br>
    {{ page.int2 }} : {{ page.inta2 }}
    <br><br>
    {{ page.int3 }} : {{ page.inta3 }}
    <br><br>
    {{ page.int4 }} : {{ page.inta4 }}
    <br><br>
    {{ page.int5 }} : {{ page.inta5 }}
    <br><br>
    {{ page.int6 }} : {{ page.inta6 }}
    <br><br>
    {{ page.int7 }} : {{ page.inta7 }}
    <br><br>
    {{ page.int8 }} : {{ page.inta8 }}
    <br><br>
    For additional information, you can reach the program chairs via <a href="mailto:ismir2022-papers@ismir.net">email</a>

    Best regards,

    Scientific Program Chairs (Masataka Goto, Rachel Bittner, Rafael Caro Repetto, Xavier Serra
</div>