<div class="maincont">
    <h1>Call for Tutorials</h1>

    {{ page.intro1 }}

    <h2>Important Dates</h2>
    Time zone: Anywhere On Earth (AOE)
    <br><br>
    <ul>
        <li>{{ page.tut1 }} : {{ page.tuta1 }}</li>
        <li>{{ page.tut2 }} : {{ page.tuta2 }}</li>
        <li>{{ page.tut3 }} : {{ page.tuta3 }}</li>
    </ul>
    <h2>Submissions</h2>
    {{ page.sub1 }}
    <br><br>
    <h2>Submission Guidelines</h2>
    {{ page.gui1 }}:

    <ul>
        {{ page. guid }}
    </ul>

    <h2>Review Process</h2>
    {{ page.crit }}:

    <ul>
        {{ page.procu }}
    </ul>
    You may refer to the tutorials offered last year, <a href = "https://ismir2021.ismir.net/tutorials/">https://ismir2021.ismir.net/tutorials/</a>. For additional information, you can reach the tutorial program chairs via <a href = "mailto:ismir2022-tutorials@ismir.net">ismir2022-tutorials@ismir.net</a>
    <br><br>
    Best regards,
    <br><br>
    Tutorial Program Chairs (Vipul Arora, Keunwoo Choi, Sri Rama Murty Kodukula)
</div>