<div class="maincont">
    <h1>Call for Sponsorship</h1>

    <h2>About ISMIR 2022</h2>
    {{ page.abo }}

    <h2>Sponsorship Opportunities</h2>
    {{ page.spo }} :
    <ul>
        {{ page.opli }}
    </ul>
    In addition to the main conference sponsorship, you may support Women in Music Information Retrieval (WiMIR) and Diversity & Inclusion initiatives that are an integral part of ISMIR 2022. The benefits for conference sponsorship and WiMIR sponsorship are described below:

    <h2>ISMIR 2022 Sponsorship Packages</h2>
    {{ page.spotab }}
    In addition to Platinum, Gold and Silver tiers, we also offer sponsorship to ISMIR 2022 as a Supporter with the following limited benefits:
    {{ page.supo }}

    <h2>WiMIR Sponsorship Packages</h2>
    {{ page.wispo }}
    * Dedicated WiMIR program elements may include any of the following: WiMIR/D&I page of ISMIR2022 conference website; official WiMIR/D&I presentations during the ISMIR2022 conference; WiMIR/D&I blog post following the conclusion of the conference.

    <h2>Contact</h2>
    Please contact us at <a href="mailto:ismir2022-sponsorship@ismir.net">ismir2022-sponsorship@ismir.net</a> if you wish to discuss further on the sponsorship opportunities available, have any further questions or need additional information about ISMIR 2022.
    <br><br>
    Joe Cheri Ross, Balaji Thoshkahna, Pratibha Moogi Sponsorship Chairs, ISMIR 2022 <a href="https://ismir2022.ismir.net">https://ismir2022.ismir.net</a>
</div>