<div class="maincont">
    <table class="upun">
        <tr>
            <td class="dea"><h1>Important Dates</h1></td>
            <td class="dea"><h1>Welcome to ISMIR 2022</h1></td>
        </tr>
        <tr>
            <td class="dea">
                <h2>Paper</h2>
                {{ page.pap1 }}: {{ page.papa1 }}<br>
                {{ page.pap2 }}: {{ page.papa2 }}<br>
                {{ page.pap3 }}: {{ page.papa3 }}<br>
                {{ page.pap4 }}: {{ page.papa4 }}<br>
                {{ page.pap5 }}: {{ page.papa5 }}<br>
                <h2>Tutorials</h2>
                {{ page.tut1 }}: {{ page.tuta1 }}<br>
                {{ page.tut2 }}: {{ page.tuta2 }}<br>
                {{ page.tut3 }}: {{ page.tuta3 }}<br>
                <h2>New-to-ISMIR Mentoring Program</h2>
                {{ page.menu1 }}: {{ page.menua1 }}<br>
                {{ page.menu2 }}: {{ page.menua2 }}<br>
                {{ page.menu3 }}: {{ page.menua3 }}<br>
                {{ page.menu4 }}: {{ page.menua4 }}<br>
                {{ page.menu5 }}: {{ page.menua5 }}<br>
            </td>
            <td class="dea">
                {{ page.intro }}
                <br><br><br><br>
                <div class="vidtra">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/F1mYxLbYHfg"></iframe>
                </div>
            </td>
        </tr>
    </table>
    <table class="moupun">
        <tr>
            <td class="dea">
                <h1>Welcome to ISMIR 2022</h1>
                {{ page.intro }}
                <br><br>
                <div class="vidtra">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/F1mYxLbYHfg"></iframe>
                </div>
            </td>
            <td class="dea">
                <h1>Important Dates</h1>
                <h2>Paper</h2>
                {{ page.pap1 }}: {{ page.papa1 }}<br>
                {{ page.pap2 }}: {{ page.papa2 }}<br>
                {{ page.pap3 }}: {{ page.papa3 }}<br>
                {{ page.pap4 }}: {{ page.papa4 }}<br>
                {{ page.pap5 }}: {{ page.papa5 }}<br>
                <h2>Tutorials</h2>
                {{ page.tut1 }}: {{ page.tuta1 }}<br>
                {{ page.tut2 }}: {{ page.tuta2 }}<br>
                {{ page.tut3 }}: {{ page.tuta3 }}<br>
                <h2>New-to-ISMIR Mentoring Program</h2>
                {{ page.menu1 }}: {{ page.menua1 }}<br>
                {{ page.menu2 }}: {{ page.menua2 }}<br>
                {{ page.menu3 }}: {{ page.menua3 }}<br>
                {{ page.menu4 }}: {{ page.menua4 }}<br>
                {{ page.menu5 }}: {{ page.menua5 }}
            </td>
        </tr>
    </table>
</div>