<div class="maincont">
    <table class="upun">
        <br><br>
        <tr>
            <td class="dea">Important Dates</td>
            <td class="dea">Welcome to ISMIR 2022</td>
        </tr>
        <tr>
            <td class="dea">
                Paper<br>
                Submission site opening: April 22, 2022<br>
                Abstract submission deadline: May 13, 2022<br>
                Full paper submission deadline: May 20, 2022<br>
                Notification of acceptance: July 14, 2022<br>
                Camera ready de\adline: August 9, 2022<br>
                Tutorials<br>
                Proposal Submission: April 17, 2022<br>
                Revision: April 24, 2022<br>
                Notification of Acceptance: June 5, 2022<br>
                New-to-ISMIR Mentoring Program<br>
                Deadline for applying to mentorship program: February 28, 2022<br>
                Deadline for mentees for paper submission: March 25, 2022<br>
                Notification for Mentor-Mentee match: March 28, 2022<br>
                Feedback from mentors: April 15, 2022<br>
                Further discussions [optional]: April 15-30, 2022<br>
            </td>
            <td class="dea">
                {{ page.intro }}
                <br><br><br><br>
                <div class="vidtra">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/F1mYxLbYHfg"></iframe>
                </div>
            </td>
        </tr>
    </table>
</div>