<div class="maincont">
    <table class="upun">
        <tr>
            <td class="dea"><h1>Important Dates</h1></td>
            <td class="dea dea2"><h1>Welcome to ISMIR 2022</h1></td>
        </tr>
        <tr>
            <td class="dea">
                <h2>Paper</h2>
                <table class="duta">
                    <tr>
                        <td class = "toipu">{{ page.pap1 }}</td>
                        <td class = "toidu">{{ page.papa1 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.pap2 }}</td>
                        <td class = "toidu">{{ page.papa2 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.pap3 }}</td>
                        <td class = "toidu">{{ page.papa3 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.pap4 }}</td>
                        <td class = "toidu">{{ page.papa4 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.pap5 }}</td>
                        <td class = "toidu">{{ page.papa5 }}</td>
                    </tr>
                </table>
                <h2>Tutorials</h2>
                <table class="duta">
                    <tr>
                        <td class = "toipu">{{ page.tut1 }}</td>
                        <td class = "toidu">{{ page.tuta1 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.tut2 }}</td>
                        <td class = "toidu">{{ page.tuta2 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.tut3 }}</td>
                        <td class = "toidu">{{ page.tuta3 }}</td>
                    </tr>
                </table>
                <h2>New-to-ISMIR Mentoring Program</h2>
                <table class="duta">
                    <tr>
                        <td class = "toipu">{{ page.menu1 }}</td>
                        <td class = "toidu">{{ page.menua1 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.menu2 }}</td>
                        <td class = "toidu">{{ page.menua2 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.menu3 }}</td>
                        <td class = "toidu">{{ page.menua3 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.menu4 }}</td>
                        <td class = "toidu">{{ page.menua4 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.menu5 }}</td>
                        <td class = "toidu">{{ page.menua5 }}</td>
                    </tr>
                </table>
            </td>
            <td class="dea dea2">
                {{ page.intro }}
                <br><br><br><br>
                <div class="vidtra">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/F1mYxLbYHfg"></iframe>
                </div>
            </td>
        </tr>
    </table>
    <table class="moupun">
        <tr>
            <td class="dea">
                <h1>Welcome to ISMIR 2022</h1>
                {{ page.intro }}
                <br><br>
                <div class="vidtra">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/F1mYxLbYHfg"></iframe>
                </div>
            </td>
            <td class="dea">
                <h2>Paper</h2>
                <table class="duta">
                    <tr>
                        <td class = "toipu">{{ page.pap1 }}</td>
                        <td class = "toidu">{{ page.papa1 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.pap2 }}</td>
                        <td class = "toidu">{{ page.papa2 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.pap3 }}</td>
                        <td class = "toidu">{{ page.papa3 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.pap4 }}</td>
                        <td class = "toidu">{{ page.papa4 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.pap5 }}</td>
                        <td class = "toidu">{{ page.papa5 }}</td>
                    </tr>
                </table>
                <h2>Tutorials</h2>
                <table class="duta">
                    <tr>
                        <td class = "toipu">{{ page.tut1 }}</td>
                        <td class = "toidu">{{ page.tuta1 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.tut2 }}</td>
                        <td class = "toidu">{{ page.tuta2 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.tut3 }}</td>
                        <td class = "toidu">{{ page.tuta3 }}</td>
                    </tr>
                </table>
                <h2>New-to-ISMIR Mentoring Program</h2>
                <table class="duta">
                    <tr>
                        <td class = "toipu">{{ page.menu1 }}</td>
                        <td class = "toidu">{{ page.menua1 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.menu2 }}</td>
                        <td class = "toidu">{{ page.menua2 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.menu3 }}</td>
                        <td class = "toidu">{{ page.menua3 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.menu4 }}</td>
                        <td class = "toidu">{{ page.menua4 }}</td>
                    </tr>
                    <tr>
                        <td class = "toipu">{{ page.menu5 }}</td>
                        <td class = "toidu">{{ page.menua5 }}</td>
                    </tr>
                </table>
        </tr>
    </table>
</div>