<div class="maincont">
    <h1>Team</h1>
    <h2>General Chair</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/preeti-rao.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Preeti Rao</b></h4>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/hema-murthy.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Hema Murthy</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/ajay-srinivasamurthy.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Ajay Srinivasamurthy</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Scientific Program</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/masataka-goto.jpg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Masataka Goto</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/rachel-bittner.jpeg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Rachel Bittner</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/rafael-caro-repetto.jpg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Rafael Caro</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/xavier-serra.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Xavier Serra</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Tutorial Program</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/vipul-arora.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Vipul Arora</b></h4>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/keunwoo-choi.jpeg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Keunwoo Choi</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/sri-rama-murthy.jpeg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Sri Rama Murty K.</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Late Breaking/Demo</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/siddharth-gururani.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Siddharth Gururani</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/sanjeel-parekh.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Sanjeel Parekh</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Music Program</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/kaustuv-kanti-ganguli.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Kaustuv Kanti Ganguli</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/sumitra-ranganathan.jpg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Sumitra Ranganathan</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Publications</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/marius-miron.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Marius Miron</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Sponsorship/Industry</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/balaji.jpg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Balaji Thoshkahna</b></h4>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/joe-cheri.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Joe Cheri Ross</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/pratibha-moogi.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Pratibha Moogi</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Diversity and Inclusion</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/ranjani.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Ranjani H G</b></h4>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/xiao-hu.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Xiao Hu</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/makarand-velankar.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Makarand Velankar</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Local Initiatives/Outreach</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/vinoo-alluri.jpg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Vinoo Alluri</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Technology/Local Organization</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/sharath.jpeg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Sharath Adavanne</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Website</h2>
    <table class="teaotab">
        <tr>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/chitralekha-gupta.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Chitralekha Gupta</b></h4>    
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/ashvala-vinay.jpeg" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Ashvala Vinay</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h2>Social Media/Publicity</h2>
    <table class="teaotab">
        <tr>
            <td class="kasjdfklas">
                <div class="card">
                    <img src="https://ismir2022.ismir.net/assets/team/albin.png" alt="Avatar" class="avatar">
                    <div class="container">
                        <h4><b>Albin Andrew Correya</b></h4>    
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>